@import url(reset.css);

.bitcoin, .litecoin, .ethereum {
    display: inline-block;
    height: 15px;
}

.bitcoin {
    background-color: red;
}

.ethereum {
    background-color: blue;
}

.litecoin {
    background-color: aqua;
}